@media screen and (orientation: landscape) {
	.d-ls-1c > * {
		width: 100%
	}

	.d-ls-2c > * {
		width: 50%
	}

	.d-ls-3c > * {
		width: 33.3333333333%
	}

	.d-ls-4c > * {
		width: 25%
	}

	.d-ls-5c > * {
		width: 20%
	}

	.d-ls-6c > * {
		width: 16.6666666667%
	}

	.d-ls-7c > * {
		width: 14.2857142857%
	}

	.d-ls-8c > * {
		width: 12.5%
	}

	.d-ls-9c > * {
		width: 11.1111111111%
	}

	.d-ls-10c > * {
		width: 10%
	}

	.d-ls-5 {
		width: 5%
	}

	.d-ls-10 {
		width: 10%
	}

	.d-ls-15 {
		width: 15%
	}

	.d-ls-20 {
		width: 20%
	}

	.d-ls-25 {
		width: 25%
	}

	.d-ls-30 {
		width: 30%
	}

	.d-ls-35 {
		width: 35%
	}

	.d-ls-40 {
		width: 40%
	}

	.d-ls-45 {
		width: 45%
	}

	.d-ls-50 {
		width: 50%
	}

	.d-ls-55 {
		width: 55%
	}

	.d-ls-60 {
		width: 60%
	}

	.d-ls-65 {
		width: 65%
	}

	.d-ls-70 {
		width: 70%
	}

	.d-ls-75 {
		width: 75%
	}

	.d-ls-80 {
		width: 80%
	}

	.d-ls-85 {
		width: 85%
	}

	.d-ls-90 {
		width: 90%
	}

	.d-ls-95 {
		width: 95%
	}

	.d-ls-100 {
		width: 100%
	}

	.d-ls-hidden {
		display: none !important;
	}
	
	.d-ls-row {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row
	}

	.d-ls-reversed-row {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: reverse;
		-webkit-flex-direction: row-reverse;
		-ms-flex-direction: row-reverse;
		flex-direction: row-reverse
	}

	.d-ls-columns {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column
	}

	.d-ls-reversed-columns {
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		-webkit-flex-direction: column-reverse;
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse
	}
}